<p style="color: green"><%= notice %></p>

<%= render @user %>




<div class="mt-6 mb-6 d-flex flex-column align-items-center">
  <%= button_to "Supprimer le compte", @user, method: :delete, class: "btn btn-danger" %>
  <br>
  <%= link_to "Accueil", root_path, class: "btn btn-primary" %>
</div>