<div class="jumbotron text-center">
    <h1 class="display-4">Trouvez votre vélo idéal</h1>
    <p class="lead">Louez un vélo près de chez vous</p>

    <!-- Barre de recherche -->
    <form class="d-md-flex justify-content-center mt-4">
      <div class="form-group mx-2">
        <input type="text" class="form-control" placeholder="Où">
      </div>
      <div class="form-group mx-2">
        <input type="text" class="form-control" placeholder="Quand">
      </div>
      <div class="form-group mx-2">
        <select class="form-control" name="category">
          <option value="" selected disabled hidden>Catégorie</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
      </div>
    </form>
    <button type="submit" class="btn btn-primary mx-2">Rechercher</button>
  </div>