<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h3>Services</h3>
        <ul>
          <li><%= link_to "S'inscrire", new_user_registration_path %></li>
          <li><%= link_to "Se connecter", new_user_session_path %></li>
          <li><%= link_to "Poster un annonce", new_bicycle_path %></li>
          <li><%= link_to "Louer un vélo", bicycles_path %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <h3>A propos de nous</h3>
        <ul>
          <li><a href="#">Entreprise</a></li>
          <li><a href="#">L'équipe</a></li>
          <li><a href="#">Presse</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <h3>Assistance</h3>
        <ul>
          <li><a href="#">Conditions générales</a></li>
          <li><a href="#">Confidentialité</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-md-right">
        <a href="#">
          <i class="fa-brands fa-facebook fa-xl"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-twitter fa-xl"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
      </div>
      <div class="col-md-8 text-md-center">
        <p class="copyright">Locavelow © 2023</p>
      </div>
    </div>
  </div>
</footer>