<div class="col mt-3">
    <div class="card card-blog card-plain">
      <div class="position-relative">
        <div class="d-block blur-shadow-image">
          <img src="<%= asset_path('testcard') %>" class="img-fluid border-radius-lg">
        </div>
      </div>
      <div class="card-body px-1 pt-3">
          <h5>
            <%= bicycle.model %>
          </h5>
        <p>
        Taille : <%= bicycle.size %> <br>
        </p>
        <p>
        Adresse : <%= bicycle.address %>
      </div>
    </div>
  </div>