<%= week_calendar do |date| %>
  <div class="day">
    <%= date %>
    <% reserved_intervals = group_reserved_intervals(bicycle.rentals, date) %>
    <% reserved_intervals.each do |interval| %>
      <div class="reserved-interval">
        <%= interval[:start].strftime('%H:%M') %> - <%= interval[:end].strftime('%H:%M') %> Reserved
      </div>
    <% end %>
  </div>
<% end %>
