<h1 class="text-center">Modifier l'annonce</h1>

<%= render "form", bicycle: @bicycle %>

<br>

<div>
    <%= link_to "Show this bicycle", @bicycle, aria_label: "Show bicycle" %> |
    <%= link_to "Back to bicycles", bicycles_path, aria_label: "Back to bicycles" %>
  </div>
