<h1>Editing rental</h1>

<%= render "form", rental: @rental %>

<br>

<div>
  <%= link_to "Show this rental", @rental, aria_label: "Show this rental" %> |
  <%= link_to "Back to rentals", rentals_path, aria_label: "Back to rentals" %>
</div>
