<div class="text-start mx-3">
  <h2>Table des Matières</h2>
  <h3>
    <a href="#genDispTitle">I. Dispositions Générales</a>
    <button class="toggleButton" data-toggle="generalProvisionsList" style="float: center"><i class="fas fa-eye"></i></button>
  </h3>
  <ul id="generalProvisionsList" class="generalProvisionsList">
    <li>1.1 Bienvenue sur Locavelow</li>
    <li>1.2 Acceptation des Conditions Générales d'Utilisation</li>
    <li>1.3 Modifications des Conditions</li>
  </ul>
  <h3>
  <a href="#eligiTitle">II. Éligibilité et Compte Utilisateur</a>
  <button class="toggleButton" data-toggle="eligibl" style="float: center"><i class="fas fa-eye"></i></button>
  </h3>
  <ul id="eligibl" class="eligibl">
    <li>2.1 Conditions d'Éligibilité</li>
    <li>2.2 Création et Gestion du Compte Utilisateur</li>
    <li>2.3 Confidentialité du Compte Utilisateur</li>
  </ul>
  <h3>
  <a href="#dataColect">III. Collecte et Utilisation des Données Personnelles </a>
  <button class="toggleButton" data-toggle="dataCol"style="float: center"><i class="fas fa-eye"></i></button>
  </h3>
  <ul id="dataCol" class="dataCol">
    <li>3.1 Politique de Confidentialité</li>
    <li>3.2 Consentement à la Collecte de Données</li>
    <li>3.3 Sécurité et Confidentialité des Données</li>
  </ul>
  <h3>IV. Annonces et Transactions</h3>
  <ul>
    <li>4.1 Création d'Annonces</li>
    <li>4.2 Transactions et Paiements</li>
    <li>4.3 Responsabilités des Utilisateurs</li>
   </ul>
  <h3>V. Politique d'annulation et de Rembourssement</h3>
  <ul>
    <li>5.1 Annulation par le Locataire</li>
    <li>5.2 Annulation par le Propriétaire</li>
    <li>5.3 Annulation par Locavelow</li>
    <li>5.4 Rembourssement</li>
  </ul>
  <h3>VI. Propriété Intellectuelle</h3>
  <ul>
    <li>6.1 Droits de Propriété Intellectuelle de Locavelow</li>
    <li>6.2 Utilisation des Contenus par les Utilisateurs</li>
  </ul>
  <h3>VII. Responsabilité et engagement</h3>
  <ul>
    <li>7.1 Respect des Lois et Règlements</li> <!-- Ici utilisation de loi en vigueur sur l'usage des vélos avec le code de la route-->
    <li>7.2 Comportement et Utilisation Légitime</li>
    <li>7.3 Signalement d'Activités Suspectes</li>
  </ul>
  <h3>VIII. Modifications et Interruptions du Service</h3>
  <ul>
    <li>8.1 Modifications du Service</li>
    <li>8.2 Interruptions ou suspension momentanée du Service</li>
  </ul>
  <h3>IX. Résiliation du Compte Utilisateur et Suspension du Service</h3>
  <ul>
    <li>9.1 Résiliation par l'Utilisateur</li>
    <li>9.2 Résiliation par Locavelow</li>
    <li>9.3 Conséquences applicables</li>
  </ul>
  <h3>X. Loi Applicable et Juridiction</h3>
  <ul>
    <li>10.1 Loi Applicable</li>
    <li>10.2 Juridiction Compétente</li>
  </ul>
  <h3>XI. Dispositions Diverses</h3>
  <ul>
    <li>11.1 Intégralité de l'Accord</li>
    <li>11.2 Nullité d'une Clause</li>
    <li>11.3 Non Renonciation</li>
    <li>11.4 Langue</li>
    <li>11.5 Litiges et Réclamations</li>
  </ul>

 <h2 id="genDispTitle">I. Dispositions Générales <button class="toggleButton" data-toggle="genDispositions"><i class="fas fa-eye"></i></button></h2>
  <div id="genDispositions">
  <h3>1.1 Bienvenue sur Locavelow</h3>
  <p>Bienvenue sur Locavelow, la plateforme dédiée à la facilitation de la location de vélos entre particuliers.
   Nous sommes ravis de vous accueillir au sein de notre communauté dynamique, conçue pour connecter de manière
    efficace les individus cherchant à louer des vélos avec ceux offrant des services de location. À travers Locavelow,
     nous aspirons à créer une expérience conviviale et sécurisée, favorisant la mobilité partagée tout en établissant des connexions
      entre passionnés de cyclisme. En utilisant notre application, vous vous engagez à respecter les conditions énoncées
       dans les présentes Conditions Générales d'Utilisation. Merci de faire partie de l'aventure Locavelow et de contribuer
        à la promotion d'une mobilité durable.</p>
  <h3>1.2 Acceptation des Conditions Générales d'Utilisation</h3>
  <p>En accédant à l'application Locavelow et en utilisant les services proposés, vous reconnaissez avoir pris connaissance
   et acceptez de vous conformer aux présentes Conditions Générales d'Utilisation. Votre utilisation de l'application est
    conditionnée à votre acceptation sans réserve de l'ensemble des dispositions énoncées dans ce document. Si vous n'êtes
     pas en accord avec une quelconque partie de ces conditions, nous vous prions de ne pas utiliser notre service.
  <br><br>
    L'acceptation des Conditions Générales d'Utilisation constitue un contrat légalement contraignant entre vous
     et Locavelow. Vous comprenez que l'utilisation du service peut également être régie par des politiques additionnelles
      ou des conditions spécifiques à certaines fonctionnalités, lesquelles seront communiquées de manière claire au sein de l'application.
  <br><br>
Votre accès et votre utilisation de Locavelow signifient que vous consentez à être lié par ces conditions et toutes
 modifications ultérieures que nous pourrions apporter. Il vous incombe de consulter régulièrement les Conditions Générales
  d'Utilisation pour rester informé des éventuelles mises à jour. Si vous refusez de vous conformer
 à ces conditions, nous vous prions de cesser immédiatement d'utiliser l'application Locavelow.</p>
  <h3>1.3 Modifications des Conditions</h3>
  <p>Locavelow se réserve le droit de modifier à tout moment les présentes Conditions Générales d'Utilisation.
   Toute modification substantielle sera notifiée aux utilisateurs par le biais d'une notification dans
    l'application, et ces modifications entreront en vigueur après un délai transitoire de
    15 jours à compter de la notification. 
    <br><br>
    Pendant cette période, vous aurez l'opportunité de prendre
    connaissance des modifications apportées et de décider si vous souhaitez continuer à utiliser nos
    services en accord avec les nouvelles conditions. En continuant à accéder à l'application Locavelow
    ou à utiliser nos services après l'expiration de ce délai, vous confirmez votre acceptation des
    modifications apportées aux Conditions Générales d'Utilisation. 
    <br><br>
    Nous encourageons les utilisateurs
    à consulter régulièrement ces conditions pour rester informés des éventuelles mises à jour.
    Si vous n'acceptez pas les modifications
  , veuillez cesser immédiatement d'utiliser l'application Locavelow.
</div>
 <h2 id="eligiTitle">II. Éligibilité et Compte Utilisateur <button class="toggleButton" data-toggle="eligiblText"><i class="fas fa-eye"></i></button></h2>
  <div id="eligiblText">
  <h3>2.1 Conditions d'Éligibilité</h3>
  <p>Pour accéder à l'ensemble des fonctionnalités de Locavelow et bénéficier de nos services, vous devez satisfaire aux conditions d'éligibilité suivantes :
  <br><br>
a. Age Minimum Requis : Vous devez avoir au moins 18 ans pour créer un compte et utiliser l'application Locavelow. En acceptant les présentes Conditions Générales d'Utilisation, vous déclarez sur l'honneur être majeur.
  <br><br>
b. Capacité Juridique : Vous devez avoir la capacité juridique nécessaire pour conclure des contrats contraignants. Si vous agissez au nom d'une entité, vous déclarez avoir l'autorité nécessaire pour engager cette entité.
  <br><br>
c. Information Correcte : Les informations que vous fournissez lors de la création de votre compte doivent être exactes, à jour et complètes. Vous vous engagez à maintenir ces informations à jour tout au long de votre utilisation de Locavelow.
  <br><br>
  d. Compte Individuel : Chaque utilisateur doit créer un compte individuel. Sauf autorisation expresse de Locavelow, vous ne pouvez pas créer un compte au nom d'une autre personne.
 Le partage de comptes est strictement interdit.
 <br><br>
  e. Respect des Lois et Règlements : Vous vous engagez à respecter toutes les lois et réglementations applicables
   en vigueur dans votre pays de résidence et dans le pays où vous utilisez Locavelow. Locavelow ne saurais être tenu responsable de 
   toute violation de la loi commise par un utilisateur.
  <br><br>
    Locavelow se réserve le droit de suspendre ou de résilier votre compte si nous constatons 
    que vous ne remplissez pas ces conditions d'éligibilité
    ou si vous violez toute autre disposition des présentes Conditions Générales d'Utilisation.
     En créant un compte sur Locavelow, vous confirmez respecter ces conditions d'éligibilité.</p>
  <h3>2.2 Création et Gestion du Compte Utilisateur</h3>
  <p>La création et la gestion de votre compte utilisateur sur Locavelow nécessitent une attention
   particulière. Voici les principes clés à respecter :
    <br><br>
  a. Procédure de Création : Lors de la création de votre compte, vous devez fournir des informations exactes et complètes conformément à notre politique de confidentialité. Vous êtes seul responsable de la précision de ces informations.
  <br><br>
  b. Identifiants de Connexion : Vous êtes responsable du maintien de la confidentialité de vos identifiants de connexion (identifiant et mot de passe). Vous acceptez de ne pas partager ces informations et êtes entièrement responsable de toutes les activités liées à votre compte.
  <br><br>
  c. Notification de Compromission : Si vous avez des raisons de croire que vos identifiants ont été compromis ou que votre compte a été utilisé de manière non autorisée, vous devez en informer Locavelow immédiatement.
  <br><br>
  d. Utilisation Légitime : Vous vous engagez à utiliser Locavelow de manière légitime et à ne pas créer de compte utilisateur en utilisant des informations fausses ou trompeuses.
  <br><br>
  e. Suspension ou Résiliation : Locavelow se réserve le droit de suspendre ou de résilier votre compte en cas de violation des conditions d'utilisation ou de tout comportement inapproprié, conformément aux dispositions énoncées dans les présentes Conditions Générales d'Utilisation.
  <br><br>
  La création d'un compte sur Locavelow implique votre engagement à respecter ces directives. En cas de non-respect, Locavelow se réserve le droit d'appliquer des mesures appropriées, y compris la suspension ou la résiliation de votre compte.
</p>
   </div>

  <h2 id="dataColect">III. Collecte et Utilisation des Données Personnelles <button class="toggleButton" data-toggle="dataCollec"><i class="fas fa-eye"></i></button></h2>
  <div id="dataCollec">
  <h3>3.1 Politique de Confidentialité</h3>
  <p>
  La protection de vos données personnelles est une priorité chez Locavelow.
   Notre Politique de Confidentialité détaille comment nous collectons,
    utilisons, stockons et protégeons vos informations. En acceptant ces
     Conditions Générales d'Utilisation, vous reconnaissez avoir lu, compris et accepté notre Politique
      de Confidentialité.
  <br><br>
  a. Collecte d'Informations : Nous collectons des informations vous concernant,
   y compris, mais sans s'y limiter, votre nom, prénom, adresse e-mail, numéro de téléphone,
    photo de profil, et les détails de vos transactions.
<br><br>
  b. Utilisation des Informations : Les informations collectées peuvent être utilisées
   pour faciliter les transactions, personnaliser votre expérience sur l'application,
    améliorer nos services, prévenir les activités frauduleuses, et vous fournir des informations pertinentes.
<br><br>
  c. Partage d'Informations : Nous ne partageons pas vos données personnelles avec des tiers sauf dans les circonstances spécifiées dans notre Politique de Confidentialité, notamment avec votre consentement explicite.
<br><br>
  d. Sécurité des Données : Nous mettons en place des mesures de sécurité robustes
   pour protéger vos données personnelles contre tout accès non autorisé, divulgation, altération ou destruction.
<br><br>
e. Consentement : En utilisant Locavelow, vous consentez expressément à la collecte et à
 l'utilisation de vos données personnelles conformément à notre Politique de Confidentialité.
 Ce point sera plus largement défini en section 3.2.
<br><br>
f. Droits des Utilisateurs : Vous pouvez accéder, modifier ou supprimer vos données personnelles à tout moment en vous rendant dans les paramètres de votre compte. Vous pouvez également nous contacter pour exercer vos droits en vertu de la loi applicable.
Pour plus d'informations concernant l'effacement de vos données personnelles,vous pouvez vous rendre <a href="https://www.cnil.fr/fr/comprendre-mes-droits/le-droit-leffacement-supprimer-vos-donnees-en-ligne" target="_blank">ici</a>.
<br><br>
  Nous vous encourageons à consulter régulièrement notre Politique de Confidentialité pour rester informé des éventuelles mises à jour. En cas de divergence entre ces Conditions Générales d'Utilisation et notre Politique de Confidentialité, les dispositions de cette dernière prévaudront.
Locavelow s'engage à respecter les normes les plus strictes en matière de confidentialité des données. Nous vous encourageons à consulter régulièrement notre Politique de Confidentialité pour rester informé des éventuelles mises à jour. En cas de divergence entre ces Conditions Générales d'Utilisation et notre Politique de Confidentialité, les dispositions de cette dernière prévaudront.
</p>
  <h3>3.2 Consentement à la Collecte de Données</h3>
  <p>
  En utilisant l'application Locavelow, vous consentez expressément à la collecte, au traitement et à l'utilisation
   de vos données personnelles conformément aux termes énoncés dans notre Politique de Confidentialité. Ce consentement englobe, mais n'est pas limité à,
    la collecte des informations que vous fournissez lors de la création de votre compte, de la publication d'annonces, de l'initiation de transactions,
     et de toute autre interaction avec notre plateforme.
  <br><br>
  Votre consentement comprend également l'utilisation de technologies telles que les cookies et les balises web qui peuvent être employées
   pour recueillir automatiquement des informations techniques sur votre dispositif et votre utilisation de l'application.
  <br><br>
  Locavelow s'engage à ne collecter que les données nécessaires à la fourniture efficace de nos services et à respecter les lois et régulations en vigueur
  en matière de protection des données personnelles.
  <br><br>
  Si vous n'acceptez pas les conditions de collecte, de traitement, et d'utilisation des données personnelles décrites dans notre Politique de Confidentialité,
  veuillez ne pas utiliser l'application Locavelow. Vous avez le droit de retirer votre consentement à tout moment en ajustant les paramètres de confidentialité
  de votre compte ou en nous contactant directement. Cependant, veuillez noter que le retrait du consentement
  peut affecter votre capacité à utiliser certaines fonctionnalités de l'application.
  </p>

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-primary position-fixed bottom-0 end-0 mb-3 me-3"><i class="fas fa-arrow-up"></i></button>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
  let toggleButtons = document.querySelectorAll('.toggleButton');
  toggleButtons.forEach(function(toggleButton) {
    let divId = toggleButton.getAttribute('data-toggle');
    let div = document.getElementById(divId);
    let icon = toggleButton.querySelector('i');

    // Initialize display style and icon
    div.style.display = "none";
    icon.classList.remove('fa-eye');
    icon.classList.add('fa-eye-slash');

    toggleButton.addEventListener('click', function(e) {
      event.stopPropagation();
      if (div.style.display === "none") {
        div.style.display = "block";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      } else {
        div.style.display = "none";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      }
    });
  });

  let mybutton = document.getElementById("myBtn");
  window.addEventListener('scroll', function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  });

  mybutton.addEventListener('click', function() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });
});
let links = document.querySelectorAll('h3 a');
links.forEach(function(link) {
  link.addEventListener('click', function(e) {
    e.preventDefault();
    let href = link.getAttribute('href');
    let target = document.querySelector(href);
    target.scrollIntoView({behavior: "smooth"});
  });
});
</script>
