<div class="text-start mx-3">
  <h2>Table des Matières</h2>
  <h3>
    <a href="#dispositions-generales">I. Dispositions Générales</a>
    <button class="toggleButton" data-toggle="generalProvisionsList" style="float: center"><i class="fas fa-eye"></i></button>
  </h3>
  <ul id="generalProvisionsList" class="generalProvisionsList">
    <li>1.1 Bienvenue sur Locavelow</li>
    <li>1.2 Acceptation des Conditions Générales d'Utilisation</li>
    <li>1.3 Modifications des Conditions</li>
  </ul>
  <h3>
    II. Éligibilité et Compte Utilisateur
    <button class="toggleButton" data-toggle="eligiblList"style="float: center"><i class="fas fa-eye"></i></button>
  </h3>
  <ul id="eligiblList" class="eligiblList">
    <li>2.1 Conditions d'Éligibilité</li>
    <li>2.2 Création et Gestion du Compte Utilisateur</li>
    <li>2.3 Confidentialité du Compte Utilisateur</li>
  </ul>
  <h3>III. Collecte et Utilisation des Données Personnelles</h3>
  <ul>
    <li>3.1 Politique de Confidentialité</li>
    <li>3.2 Consentement à la Collecte de Données</li>
    <li>3.3 Sécurité et Confidentialité des Données</li>
  </ul>
  <h3>IV. Annonces et Transactions</h3>
  <ul>
    <li>4.1 Création d'Annonces</li>
    <li>4.2 Transactions et Paiements</li>
    <li>4.3 Responsabilités des Utilisateurs</li>
   </ul>
  <h3>V. Politique d'annulation et de Rembourssement</h3>
  <ul>
    <li>5.1 Annulation par le Locataire</li>
    <li>5.2 Annulation par le Propriétaire</li>
    <li>5.3 Annulation par Locavelow</li>
    <li>5.4 Rembourssement</li>
  </ul>
  <h3>VI. Propriété Intellectuelle</h3>
  <ul>
    <li>6.1 Droits de Propriété Intellectuelle de Locavelow</li>
    <li>6.2 Utilisation des Contenus par les Utilisateurs</li>
  </ul>
  <h3>VII. Responsabilité et engagement</h3>
  <ul>
    <li>7.1 Respect des Lois et Règlements</li> <!-- Ici utilisation de loi en vigueur sur l'usage des vélos avec le code de la route-->
    <li>7.2 Comportement et Utilisation Légitime</li>
    <li>7.3 Signalement d'Activités Suspectes</li>
  </ul>
  <h3>VIII. Modifications et Interruptions du Service</h3>
  <ul>
    <li>8.1 Modifications du Service</li>
    <li>8.2 Interruptions ou suspension momentanée du Service</li>
  </ul>
  <h3>IX. Résiliation du Compte Utilisateur et Suspension du Service</h3>
  <ul>
    <li>9.1 Résiliation par l'Utilisateur</li>
    <li>9.2 Résiliation par Locavelow</li>
    <li>9.3 Conséquences applicables</li>
  </ul>
  <h3>X. Loi Applicable et Juridiction</h3>
  <ul>
    <li>10.1 Loi Applicable</li>
    <li>10.2 Juridiction Compétente</li>
  </ul>
  <h3>XI. Dispositions Diverses</h3>
  <ul>
    <li>11.1 Intégralité de l'Accord</li>
    <li>11.2 Nullité d'une Clause</li>
    <li>11.3 Non Renonciation</li>
    <li>11.4 Langue</li>
    <li>11.5 Litiges et Réclamations</li>
  </ul>

 <h2 id="dispositions-generales">I. Dispositions Générales</h2>
  <h3>1.1 Bienvenue sur Locavelow</h3>
  <p>Bienvenue sur Locavelow, la plateforme dédiée à la facilitation de la location de vélos entre particuliers.
   Nous sommes ravis de vous accueillir au sein de notre communauté dynamique, conçue pour connecter de manière
    efficace les individus cherchant à louer des vélos avec ceux offrant des services de location. À travers Locavelow,
     nous aspirons à créer une expérience conviviale et sécurisée, favorisant la mobilité partagée tout en établissant des connexions
      entre passionnés de cyclisme. En utilisant notre application, vous vous engagez à respecter les conditions énoncées
       dans les présentes Conditions Générales d'Utilisation. Merci de faire partie de l'aventure Locavelow et de contribuer
        à la promotion d'une mobilité durable.</p>
  <h3>1.2 Acceptation des Conditions Générales d'Utilisation</h3>
  <p>En accédant à l'application Locavelow et en utilisant les services proposés, vous reconnaissez avoir pris connaissance
   et acceptez de vous conformer aux présentes Conditions Générales d'Utilisation. Votre utilisation de l'application est
    conditionnée à votre acceptation sans réserve de l'ensemble des dispositions énoncées dans ce document. Si vous n'êtes
     pas en accord avec une quelconque partie de ces conditions, nous vous prions de ne pas utiliser notre service.
  <br><br>
    L'acceptation des Conditions Générales d'Utilisation constitue un contrat légalement contraignant entre vous
     et Locavelow. Vous comprenez que l'utilisation du service peut également être régie par des politiques additionnelles
      ou des conditions spécifiques à certaines fonctionnalités, lesquelles seront communiquées de manière claire au sein de l'application.
  <br><br>
Votre accès et votre utilisation de Locavelow signifient que vous consentez à être lié par ces conditions et toutes
 modifications ultérieures que nous pourrions apporter. Il vous incombe de consulter régulièrement les Conditions Générales
  d'Utilisation pour rester informé des éventuelles mises à jour. Si vous refusez de vous conformer
 à ces conditions, nous vous prions de cesser immédiatement d'utiliser l'application Locavelow.</p>

</div>


<button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-primary position-fixed bottom-0 end-0 mb-3 me-3"><i class="fas fa-arrow-up"></i></button>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
  let toggleButtons = document.querySelectorAll('.toggleButton');
  toggleButtons.forEach(function(toggleButton) {
    toggleButton.addEventListener('click', function() {
      let listId = this.getAttribute('data-toggle');
      let list = document.getElementById(listId);
      let icon = this.querySelector('i');
      if (list.style.display === "none" || list.style.display === "") {
        list.style.display = "block";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      } else {
        list.style.display = "none";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      }
    });
  });

  let mybutton = document.getElementById("myBtn");
  window.addEventListener('scroll', function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  });

  mybutton.addEventListener('click', function() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });
});
</script>
