<h3 class="text-center">Modifier un avis</h3>

<%= render "form", review: @review %>

<br>

<div class="d-flex justify-content-center">
    <%= link_to "Voir cet avis", @review, class: "btn btn-primary mx-3", aria_label: "Voir cet avis" %>
    <%= link_to "Accueil", root_path, class: "btn btn-secondary", aria_label: "Accueil" %>
  </div>
