<p style="color: green"><%= notice %></p>
<h3 class="text-center">Récapitulatif de l'avis</h3>
<%= render @review %>

<div class="d-flex justify-content-center">
  <%= link_to "Accueil", root_path, class: "btn btn-primary" %>
</div>
