<h1>Editing accessory</h1>

<%= render "form", accessory: @accessory %>

<br>

<div>
  <%= link_to "Show this accessory", @accessory, aria_label: "Show accessory" %> |
  <%= link_to "Back to accessories", accessories_path, aria_label: "Back to accessories" %>
</div>
